@page
@using App.Domain.Core.InspectionAppointmentAgg.Enum
@using App.EndPoints.Presentation.Razorpage.Tools
@model App.EndPoints.Presentation.Razorpage.Pages.Admin.RejectedRequestsModel

@{
    Layout = "_AdminLayout";
}
<main class="flex-1 overflow-x-hidden overflow-y-auto md:mr-64 p-6 transition-all duration-300">

    <section id="table-section" class="mb-8">
        <h2 class="text-2xl font-semibold text-gray-700 mb-4">درخواست های رد شده</h2>

        <!-- Table Container (Responsive Scroll) -->
        <div class="overflow-x-auto rounded-lg border border-gray-200">
            <table class="min-w-full divide-y divide-gray-200" id="user-table">
                <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                            کد ملی مالک
                        </th>
                        <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                            شماره پلاک
                        </th>
                        <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                            مدل خودرو
                        </th>
                        <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                            شماره تماس
                        </th>
                        <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                            سال ساخت
                        </th>
                        <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                            زمان نوبت
                        </th>
                        <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                            دلیل رد درخواست
                        </th>
                        <th scope="col" class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase tracking-wider">
                            آدرس
                        </th>

                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200" id="user-table-body">

                    @foreach (var req in Model.ShowRejectedAppointment)
                    {
                        <tr class="hover:bg-gray-50 transition duration-150">

                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">@req.OwnersNationalCode</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">@req.LicensePlate</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">@req.CarModel - @req.CarCompany.ToString()</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">@req.MobileNumber</td>

                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">@req.YearOfManufactureShamsi</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">@req.TurnTimeShamsi</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">@req.RejectionReason</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">@req.Address</td>

                        </tr>
                    }


                </tbody>
            </table>
        </div>

    </section>

</main>